<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.UserDao">

<insert id="insert">
	insert into 
		users (userNum, userID, userPW, userName, userGender, userBirth, userPhone, userEmail)
	values (user_counter.nextval, #{userID}, #{userPW}, #{userName}, #{userGender}, #{userBirth}, #{userPhone}, #{userEmail})
</insert>

<select id="selectAll" resultType="com.spring.dto.UserDto">
select * from users
</select>

<select id="selectName" resultType="com.spring.dto.UserDto">
select * from users where userID=#{userID}
</select>

<update id="update">
update users set 
	userName=#{userName}, userGender=#{userGender},
	userBirth=#{userBirth}, userPhone=#{userPhone}, userEmail=#{userEmail}, enabled=#{enabled} where userID=#{userID}
</update>

<update id="pwUpdate">
update users set 
	userPW=#{userPW} where userID=#{userID}
</update>

<delete id="delete">
delete users where userID=#{userID}
</delete>

<select id="checkId" parameterType="String" resultType="Integer">
    select count(*) from users where userID = #{ userID }
</select>

<select id="findUser" resultType="com.spring.dto.UserDto">
    select * from users where userName = #{ userName } and userPhone = #{userPhone}
</select>
</mapper>